<main>
  <div class="notice"></div>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <div class="col-md-3">
        <h2>User info</h2>
        <table class="table">
          <tbody>
            <tr>
              <th>name</th>
              <th><%= @user.name %></th>
            </tr>
            <tr>
              <th>introduction</th>
              <th><%= @user.introduction %></th>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
        </div>
        <h2>New book</h2>
        
        
      </div>
    </div>
  </div>
</main>

</div>

<h1>User投稿一覧</h1>
<% @books.each do |book| %>
<div>
  <p>Title:<%= book.title %></p>
  <p>Opinion:<%= book.body %></p>
  <p>name:<%= book.user.name %></p>
</div>
<% end %>
